img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
};

mat-progress-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.my-container{
  background-color: black;
  z-index: -2;
}
